body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    background: url(./img/background.jpg) no-repeat center;
    background-size: cover;
    margin: 0 -8px;
    margin-top: -90px;
    height: 800px;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    margin: 0 153px;
    margin-top: 90px;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 700;
    padding-top: 110px;
}



.menu {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    background-color: rgb(128, 8, 8);
    border-radius: 30px;
    color: white;
    font-size: 14px;
    text-indent: -2px;
}

.registration {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(128, 8, 8);
    width: 150px;
    height: 25px;
    border-radius: 30px;
    margin-left: 100px;
}

.padlock {
    padding-right: 5px;
}

.registration a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: none;
}


.language {
    display: flex;
    width: 70px;
    height: 30px;
    justify-content: space-around;
    align-items: center;
}

.language a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: -2px;
}

.language-button {
    width: 30px;
    height: 30px;
    background-color: rgb(128, 8, 8);
    border-radius: 100% 100%;
    color: white;
    font-weight: 500;
    font-size: 13px;
}

.content {
    text-align: center;
    margin: 0 153px;

}

.content h1 {
    font-size: 80px;
    margin-bottom: -30px;
    text-transform: uppercase;
}

.content h2 {
    font-size: 40px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 -8px;
    width: 1347px;
    height: 804px;
    margin: 0 -8px;
    background: url(./img/1041825.jpg) no-repeat center;
    background-size: cover;
}


.name-film {
    margin-left: 50px;
    width: 700px;
    text-align: center;
    font-family: 'Anton';
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: -20px;
    color: aliceblue;
}

.name-film p {
    font-size: 25px;
    margin-top: -50px;
}

.content-film {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 250px;
    margin-left: 50px;
    background-color: brown;
    border-radius: 30px;
    margin-top: 40px;
}

.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
    width: 350px;
    height: 250px;
    margin-top: 134px;
}

.container-right {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Anton';
    color: blanchedalmond;
    letter-spacing: 1px;
    text-align: center;
}

.container-right p {
    font-size: 40px;
}


.button-ticket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 100px;
    margin-left: 50px;
    margin-top: 180px;
}

.button-ticket a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    width: 200px;
    height: 50px;
    font-family: 'Anton';
    border-radius: 30px;
    font-size: 25px;
    text-transform: uppercase;
    color: blanchedalmond;
    letter-spacing: 1px;
}

.button-ticket .button-black {
    background-color: black;
    border: 1px solid white;
}

/* Вторая страничка */

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 -8px;
    width: 1347px;
    height: 804px;
    margin: 0 -8px;
    background: url(./img/the-witcher-background.jpg) no-repeat center;
    background-size: cover;
}


.name-film-2 {
    margin-left: 50px;
    width: 700px;
    text-align: center;
    font-family: 'Anton';
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: -20px;
    color: aliceblue;
}

.name-film-2 p {
    font-size: 25px;
    margin-top: -50px;
}

.content-film-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 450px;
    margin-left: 50px;
    background-color: silver;
    border-radius: 30px;
    margin-top: 10px;
}

.container-left-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;

}

.container-left-2 img {
    margin-top: 27px;
}

.container-right-2 {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Anton';
    color: blanchedalmond;
    letter-spacing: 1px;
    text-align: center;
}

.container-right-2 p {
    font-size: 40px;
}


.button-ticket-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 100px;
    margin-left: 50px;
    margin-top: 10px;
}

.button-ticket-2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    width: 200px;
    height: 50px;
    font-family: 'Anton';
    border-radius: 30px;
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
}

.button-ticket-2 .button-black-2 {
    background-color: black;
    border: 1px solid white;
    color: white;
}

/* Третья страничка */

.container-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 -8px;
    width: 1347px;
    height: 804px;
    margin: 0 -8px;
    background: url(./img/avatar-background.jpg) no-repeat center;
    background-size: cover;
}


.name-film-3 {
    margin-left: 50px;
    width: 700px;
    text-align: center;
    font-family: 'Anton';
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: -20px;
    color: aliceblue;
}

.name-film-3 p {
    font-size: 25px;
    margin-top: -50px;
}

.content-film-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 320px;
    margin-left: 50px;
    background-color: blue;
    border-radius: 30px;
    margin-top: 50px;
}

.container-left-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 320px;

}

.container-left-3 img {
    margin-top: 70px;
}

.container-right-3 {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Anton';
    color: blanchedalmond;
    letter-spacing: 1px;
    text-align: center;
}

.container-right-3 p {
    font-size: 40px;
}


.button-ticket-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 100px;
    margin-left: 50px;
    margin-top: 70px;
}

.button-ticket-3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 200px;
    height: 50px;
    font-family: 'Anton';
    border-radius: 30px;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}

.button-ticket-3 .button-black-3 {
    background-color: white;
    border: 1px solid blue;
    color: black;
}